body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --right-panel-fg: white;
  --right-panel-bg: rgb(128, 0, 0);
  --left-panel-fg: white;
  --left-panel-bg: #6d6d64;
  --left-panel-border-color: darkgray;
  --left-panel-border-width: 2px;
  --left-panel-border-style: solid;
  --left-panel-border: var(--left-panel-border-width) var(--left-panel-border-style) var(--left-panel-border-color);
  --left-list-fg: white;
  --left-list-bg: #6d6d64;
  --left-list-sel-fg: white;
  --left-list-sel-bg: #333;
}

html, body, #root, .App {
  height: 100%;
}

/* Login CSS */
.login {
  height: 100%;
  background-image: url('/stars.jpg');
  background-position: center;
  background-size: cover;
}

.login form {
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Cred CSS */
.credentialsPage .leftPanel {
  color: var(--left-panel-fg);
  background-color: var(--left-panel-bg);
  border: var(--left-panel-border);
}

.credentialsPage .leftPanel > *:last-child {
  border-top: var(--left-panel-border);
}

.credentialsPage .leftList {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: red darkgray;
}

.credentialsPage .leftList li {
  color: var(--left-list-fg);
  background-color: var(--left-list-bg);
  border-bottom: var(--left-panel-border);
  padding: 9px;
}

.credentialsPage .leftList li:first-child {
  border-top: var(--left-panel-border);
}

.credentialsPage .leftList li.selected {
  color: var(--left-list-sel-fg);
  background-color: var(--left-list-sel-bg);
  border-bottom: var(--left-panel-border);
  padding: 9px;
}

.credentialsPage .rightPanel {
  color: var(--right-panel-fg);
  background-color: var(--right-panel-bg);
}

.uploadDialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.uploadDialog .dialog {
  margin-left: 25%;
  margin-top: 20%;
  height: 50%;
  width: 50%;
  padding: 5px;
  background-color: white;
}

.uploadDialog input {
  display: none;
}

/* Bootstrap extension for h-100 */
@media screen and (max-width: 576px) {
  .h-xs-100 {
    height: 100%;
  }
}

@media screen and (min-width: 576px) {
  .h-sm-100 {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .h-md-100 {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .h-lg-100 {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .h-xl-100 {
    height: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .h-xxl-100 {
    height: 100%;
  }
}

/* Bootstrap extension for mw-xx */
@media screen and (min-width: 576px) {
  .mw-sm-50 {
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .mw-md-50 {
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .mw-lg-50 {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .mw-xl-50 {
    max-width: 50%;
  }
  .mw-xl-25 {
    max-width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  .mw-xxl-50 {
    max-width: 50%;
  }
}

/* Bootstrap extension for negative margins */
.mt-n1 {
  margin-top: -0.25rem !important;
}
.ms-n1 {
  margin-left: -0.25rem !important;
}
.me-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1 {
  margin-bottom: -0.25rem !important;
}
.mt-n2 {
  margin-top: -0.5rem !important;
}
.ms-n2 {
  margin-left: -0.5rem !important;
}
.me-n2 {
  margin-right: -0.5rem !important;
}
.mb-n2 {
  margin-bottom: -0.5rem !important;
}
.mt-n3 {
  margin-top: -1rem !important;
}
.ms-n3 {
  margin-left: -1rem !important;
}
.me-n3 {
  margin-right: -1rem !important;
}
.mb-n3 {
  margin-bottom: -1rem !important;
}
